
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.botao-turbo {
    width: 55px;
    font-size: 9px;
    background-color: rgb(5, 148, 5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.botao-turbo:hover {
    background-color: rgb(3, 107, 3);
}

.botao-turbo-on {
    width: 55px;
    font-size: 10px;
    background-color: rgb(182, 14, 14);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.botao-turbo-on:hover {
    background-color: darkred;
}

.texto-turbo {
    display: none;
    font-size: 8px;
}
.texto-ativo {
    color: red;
    text-decoration: underline;
}

.pagina {
    display: flex;
    justify-content: center;
}

.estrada {
    display: flex;
    gap: 0;
    margin: 0;
    position: relative;
}

.estrada img {
    display: block;
    width: 300px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.img1-estrada {
    border-left: 2px solid black;
}

.img2-estrada {
    border-right: 2px solid black;
}

.carro {
    position: absolute;
    width: 100px !important;
    border: none !important;
    top: 75px;
    left: 0;
    rotate: 0deg;
    transform: scaleX(1);
}

.gasolina {
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding-top: 3px;
}
